body{
  background-color: rgba(19,51,76,1);
}
*{
    margin: 0;
    padding: 0;

}
/*==========header=====*/
.searchRow{
  background-color: rgba(38,56,89,1);
  display: flex;
  flex-direction: row;
}
.searchtextbox{
  border-radius: 15px;
  padding:5px ;
  font-size: 1rem;
  margin: 7px 20px;
}
.selection{
    
    color: #fff;
    padding-left: 20px;
}
.selection select{
    font-size: 1rem;
    border-radius: 15px;
    width: 200px;
    margin: 7px 20px;
    padding: 5px;
}
.selection span{
    font-size: 1.3rem;
}

.welcome{
    text-align: center;
    background-color: rgba(23,34,59,1);
    color: #fff;
    font-size: 5rem;
    box-shadow:10px 0px 5px rgba(107,119,141,1);
    text-shadow: 10px 5px 5px rgba(107,119,141,1);
}
/* ===========content========== */
.container{
    background-color: rgba(19,51,76,1);
    
}

.row {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;

  padding: 60px;
  gap: 50px;
}
.filmname{
  color: #fff;
  font-size: 3rem;
  margin: 20px 40px;
  text-shadow: 10px 5px 5px rgba(107,119,141,1);
}
.card-top{
  color: #fff;
}

.fa-play-circle{
  color:rgba(255,103,104,1) ;
  font-size: 1.5rem;
  padding: 2px;
  margin-left: 10px;
  transition: transform 1s;
}
.fa-play-circle:hover{
  transform: rotate(360deg);
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(19,51,76,1);
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.8s 0.4s;
  width: 30%;
}


.img-container {
  position: relative;
  background-color: transparent;
  z-index: 0;
}
.cards-img {
  width: 300px;
  position: relative;
  border-radius: 5px;
  top: 4px;
  transition: all 0.8s 0.4s;
}


.cards-img-caption {
  text-align: center;
  color: rgba(218,218,218,1);
  display: none;
  transition: all 0.8s 0.4s;
}
.card:hover .cards-img-caption{
  display: inline-block;
  font-size: 1.2rem;
}
.card:hover{
  box-shadow:1px -1px 20px rgba(107,119,141,1);
  font-size: 3rem;
}
.card:hover .cards-img{
  width: 380px;
  cursor: pointer;

}
.cards-img:hover{
   width: 380px;
  cursor: pointer;
}









/* ======footer======= */
.footer{
    background-color: rgba(23,34,59,1);
}
