*{
    margin: 0;
    padding: 0;

}
/*==========header=====*/
.selection{
    background-color: rgba(38,56,89,1);
    color: #fff;
    padding-left: 20px;
}
.selection select{
    font-size: 1rem;
    border-radius: 15px;
    width: 200px;
    margin: 7px 20px;
    padding: 5px;
}
.selection span{
    font-size: 1.3rem;
}
.welcome{
    text-align: center;
    background-color: rgba(23,34,59,1);
    color: #fff;
    font-size: 5rem;
    box-shadow:10px 0px 5px rgba(107,119,141,1);
    text-shadow: 10px 5px 5px rgba(107,119,141,1);;
}
/* ===========content========== */
.container{
    background-color: rgba(107,119,141,1);
}

.row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 60px;
  gap: 50px;
}
.card {
  background-color: rgba(107,119,141,1);
  margin-top: 20px;
  /* width: 200px; */
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.img-container {
  position: relative;
  background-color: transparent;
  z-index: 0;
}
.cards-img {
  width: 300px;
  position: relative;
  border-radius: 5px;
  top: 4px;
}
.cards-img-caption {
  text-align: center;
  color: rgb(112, 116, 116);
  display: none;
}








/* ======footer======= */
.footer{
    background-color: rgba(23,34,59,1);
}
